
body {
    margin: 0;
    background-color: black;
    color: #cccccc;
    font-family: 'Georgia', serif;
}
h1, h2, h3 {
    text-align: center;
    color: #aaaaaa;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#logo {
    width: 120px;
    margin: 20px auto;
    display: block;
}
